{% extends 'base_page.html' %}
{% load static %}

{% block title %} Order {% endblock %}

{% block content%}
<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
    <div class="container">
        <p class="text-center billing-alert">Thank you. Your order has been received.</p>
        <div class="row mb-5">
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Order Info</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Order number</td>
                            <td>: {{order.id}}</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td>: {{order.created}}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td>: {{order.get_total_cost}}</td>
                        </tr>
                        <tr>
                            <td>Paid status</td>
                            <td>:
                                {% if not order.paid %}
                                Unpaid
                                {% else %}
                                Paid
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Billing Address</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Street</td>
                            <td>: {{ order.address }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>: {{ order.city }}</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>: {{ order.postal_code }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
                <div class="confirmation-card">
                    <h3 class="billing-title">Shipping Address</h3>
                    <table class="order-rable">
                        <tr>
                            <td>Street</td>
                            <td>: {{ order.address }}</td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>: {{ order.city }}</td>
                        </tr>
                        <tr>
                            <td>Postcode</td>
                            <td>: {{ order.postal_code }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="order_details_table">
            <h2>Order Details</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in orderitems %}
                    <tr>
                        <td>
                            <p>{{ item.product.name }}</p>
                        </td>
                        <td>
                            <h5>x {{item.quantity}}</h5>
                        </td>
                        <td>
                            <p>{{item.get_cost}}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <h4>Total</h4>
                        </td>
                        <td>
                            <h5></h5>
                        </td>
                        <td>
                            <h4>{{order.get_total_cost}}</h4>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!--================End Order Details Area =================-->
{% endblock  %}